<%
    show_game = true if show_game.nil?
%>
<table class="table table-striped">
    <% results.each do |result| %>
        <tr>
            <td>
                <%= render partial: 'shared/result', object: result, locals: { show_game: show_game } %>
            </td>
        </tr>
    <% end %>
</table>
