<div class="player-page player-page-edit">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-9">
            <h1 class="page-header">Edit Player</h1>
        </div>
    </div>
    <%= render 'form' %>
</div>
