.dashboard {

    &.dashboard-show-page {
        
        .player-list-group-item {

            img {
                margin-right: 10px;
                border-radius: 20px;
            }
            font-size: 20px;
        }
    }
}
