.dashboard {

    &.dashboard-show-page {
        
        .games-list {
            list-style-type: none;
            padding: 0;
            margin: 0;

            .games-list-item {

                .game-title {
                    margin-top: 0;
                    
                    .motion-indicator {
                        display: inline-block;
                        margin: auto;
                        height: 16px;
                        width: 16px;
                        background-color: #888;
                        border-radius: 16px;

                        &.active {
                            background-color: #F00;
                        }
                        &.inactive {
                            background-color: #0F0;
                        }
                    }
                    .motion-status {
                        font-size: 12px;
                    }
                }
                .game-params {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    
                    .rating-type {
                        text-transform: uppercase;
                    }
                }
                .recent-results {
                    padding-left: 20px;

                    .recent-result {
                        padding: 10px 0;
                        border-bottom: 1px solid #DDD;

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }
            }
        }
        .player-list-group {

            .player-list-group-item {
                display: block;

                h4.list-group-item-heading {
                    margin-bottom: 0;
                }
            }
        }
    }
}
