.inactive {
    color: #AAA;
}
.center {
    text-align: center;
}
.player-badge {
    display: inline;
    margin-left: 5px;
    margin-right: 3px;

    img {
        margin-right: 5px;
        border-radius: 100px;
    }
}
