.global-navbar {
    border-radius: 0;
}
.inactive {
    color: #AAA;
}
.center {
    text-align: center;
}
.no-results {
    .inactive;
    .center;
}
.player-badge {
    display: inline;
    margin-left: 5px;
    margin-right: 3px;
    text-decoration: none !important;

    .name {
        
        &.link:hover {
            text-decoration: underline !important;
        }
    }
    img {
        margin-right: 5px;
        border-radius: 100px;
    }
}
.game-status-indicator {
    display: inline-block;
    margin: auto;
    height: 16px;
    width: 16px;
    background-color: #888;
    border-radius: 16px;

    &.active {
        background-color: #F00;
        background: linear-gradient(to right, #F00 50%, #CC0205 50%);
    }
    &.inactive {
        background-color: #0F0;
        background: linear-gradient(to right, #0F0 50%, #0AC900 50%);
    }
}
.game-status {
    font-size: 50%;
}
.result-wrapper {
    position: relative;

    &.has-team {

        .team, .outcome {
            display: inline-block;
            vertical-align: top;
        }
        .team {
            text-align: left;

            .player-badge {
                display: block;
                margin-bottom: 3px;
            }
        }
        .occurred {
            white-space: nowrap;
        }
    }
    .team, .outcome {
        display: inline;
    }
    .outcome {
        background-color: #DDD;
        padding: 0px 5px;
        color: #FFF;
        border-radius: 2px;
    }
}
/* Devise alert styles */
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }
.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
